<div class="article-block">
  <a class="article-anchor" tabindex="0">
    <p class="article-heading">Lorem Ipsum</p><br>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam aliquam nec ante sed ornare. Phasellus condimentum justo vitae eleifend tincidunt. Aliquam tristique, tortor ut suscipit rutrum, sem nisi suscipit justo, dapibus faucibus...
  </a>
</div>

<div class="article-block">
  <a class="article-anchor" tabindex="0">
    <p class="article-heading">Lorem Ipsum</p><br>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam aliquam nec ante sed ornare. Phasellus condimentum justo vitae eleifend tincidunt. Aliquam tristique, tortor ut suscipit rutrum, sem nisi suscipit justo, dapibus faucibus...
  </a>
</div>

<div class="article-block">
  <a class="article-anchor" tabindex="0">
    <p class="article-heading">Lorem Ipsum</p><br>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam aliquam nec ante sed ornare. Phasellus condimentum justo vitae eleifend tincidunt. Aliquam tristique, tortor ut suscipit rutrum, sem nisi suscipit justo, dapibus faucibus...
  </a>
</div>

<div class="article-block">
  <a class="article-anchor" tabindex="0">
    <p class="article-heading">Lorem Ipsum</p><br>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam aliquam nec ante sed ornare. Phasellus condimentum justo vitae eleifend tincidunt. Aliquam tristique, tortor ut suscipit rutrum, sem nisi suscipit justo, dapibus faucibus...
  </a>
</div>

<div class="article-block">
  <a class="article-anchor" tabindex="0">
    <p class="article-heading">Lorem Ipsum</p><br>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam aliquam nec ante sed ornare. Phasellus condimentum justo vitae eleifend tincidunt. Aliquam tristique, tortor ut suscipit rutrum, sem nisi suscipit justo, dapibus faucibus...
  </a>
</div>

<div class="article-block">
  <a class="article-anchor" tabindex="0">
    <p class="article-heading">Lorem Ipsum</p><br>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam aliquam nec ante sed ornare. Phasellus condimentum justo vitae eleifend tincidunt. Aliquam tristique, tortor ut suscipit rutrum, sem nisi suscipit justo, dapibus faucibus...
  </a>
</div>

<div class="article-block">
  <a class="article-anchor" tabindex="0">
    <p class="article-heading">Lorem Ipsum</p><br>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam aliquam nec ante sed ornare. Phasellus condimentum justo vitae eleifend tincidunt. Aliquam tristique, tortor ut suscipit rutrum, sem nisi suscipit justo, dapibus faucibus...
  </a>
</div>

<div class="article-block">
  <a class="article-anchor" tabindex="0">
    <p class="article-heading">Lorem Ipsum</p><br>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam aliquam nec ante sed ornare. Phasellus condimentum justo vitae eleifend tincidunt. Aliquam tristique, tortor ut suscipit rutrum, sem nisi suscipit justo, dapibus faucibus...
  </a>
</div>
